                    /*------nav------*/
                    
                    body {
                        background-color: white;
                        margin: 1%;
                        padding: 1%;
                    }
                    
                    .logo {
                        font-size: 40px;
                        color: black;
                    }
                    
                    span {
                        color: greenyellow;
                    }
                    
                    li {
                        display: grid;
                        list-style: none;
                        justify-content: flex-start;
                        font-size: 20px;
                    }
                    
                    .logo {
                        display: flex;
                        justify-content: center;
                    }
                    
                    .avatar {
                        vertical-align: middle;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        top: 0%;
                        left: 0%;
                        position: absolute;
                    }
                    /*------nav------*/
                    /*---container---*/
                    
                    .container {
                        margin-top: 10px;
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: space-around;
                    }
                    
                    .btn-primary {
                        color: black;
                    }
                    
                    .card>img {
                        max-width: 30vw;
                        max-height: 30vh;
                    }
                    
                    .time {
                        vertical-align: middle;
                        width: 50px;
                        height: 50px;
                        top: 0%;
                        right: 0%;
                        position: absolute;
                    }
                    
                    h5 {
                        color: yellowgreen;
                        font-size: xx-large;
                    }
                    
                    p {
                        color: black;
                        opacity: 10px;
                    }
                    
                    .a {
                        background-color: yellowgreen;
                    }
                    
                    .modal {
                        display: none;
                    }
                    /*----container---*/
                    /*---fooorer--*/
                    
                    .footer {
                        margin-top: 10px;
                    }
                    /*---footer---*/
                    /*---media---*/
                    
                    @media screen and (max-width:400px) {
                        .container {
                            flex-direction: column;
                            justify-content: space-around;
                        }
                        .card {
                            margin: auto;
                        }
                        .card>img {
                            max-width: 80vw;
                            max-height: 30vh;
                        }
                        .w3-sidebar {
                            height: 100%;
                            width: 0;
                            position: fixed;
                            z-index: 1;
                            top: 0;
                            left: 0;
                            background-color: #111;
                            overflow-x: hidden;
                            padding-top: 60px;
                            transition: 0.5s;
                            -webkit-transition: 0.5s;
                            -moz-transition: 0.5s;
                            -ms-transition: 0.5s;
                            -o-transition: 0.5s;
                        }
                        .w3-sidebar a {
                            padding: 8px 8px 8px 32px;
                            text-decoration: none;
                            font-size: 25px;
                            color: #818181;
                            display: block;
                            transition: 0.3s;
                        }
                    }
                    /*---media---*/